.marker-btn {
  background: none;
  border: none;
  cursor: pointer
}

.marker-btn img {
  width: 30px;
  height: 30px;
}

.popup-country {
  font-size: 14px;
}

.showLondon {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 12px;
  background-color: #427783;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
}